<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <META charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <TITLE>Document</TITLE>

    <LINK rel="stylesheet" href="styles/3-HEADer.css">
    <LINK rel="stylesheet" href="styles/3-FOOTER.css">
    <LINK rel="shortcut icon" href="images/icon.png">
    <LINK rel="stylesheet" href="styles/4-common.css">
    <LINK rel="stylesheet" href="styles/6-filters.css">
</HEAD>
<BODY>
    <HEADER>
    </HEADER>

    <DIV class="container">
        <SECTION class="filters">
            <BUTTON>Search</BUTTON>

            <DIV class="locations">
                <H3>States</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                    <LI>
                        <H2>Arizona:</H2>
                        <UL>
                            <LI>TEST TEXT</LI>
                            <LI>TEST TEXT</LI>
                        </UL>
                    </LI>
                    <LI>
                        <H2>Arizona:</H2>
                        <UL>
                            <LI>TEST TEXT</LI>
                            <LI>TEST TEXT</LI>
                        </UL>
                    </LI>
                </UL>
            </DIV>

            <DIV class="amenities">
                <H3>Amenities</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                    <LI>Internet</LI>
                    <LI>TV</LI>
                    <LI>Kitchen</LI>
                    <LI>Iron</LI>
                </UL>
            </DIV>
        </SECTION>
    </DIV>

    <FOOTER>
        <P>Best School</P>
    </FOOTER>
</BODY>
</HTML>