<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <META charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <TITLE>Document</TITLE>

    <LINK rel="stylesheet" href="styles/3-HEADer.css">
    <LINK rel="stylesheet" href="styles/3-FOOTER.css">
    <LINK rel="shortcut icon" href="images/icon.png">
    <LINK rel="stylesheet" href="styles/4-common.css">
    <LINK rel="stylesheet" href="styles/6-filters.css">
</HEAD>
<BODY>
    <HEADER>
    </HEADER>

    <DIV class="container">
        <SECTION class="filters">
            <BUTTON>Search</BUTTON>

            <DIV class="locations">
                <H3>States</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                    {% for state in states.values()|sort(attribute="name") %}
              <LI><STRONG>{{ state.name }}</STRONG>
                <UL>
                {% for city in state.cities|sort(attribute="name") %}
                  <LI>{{ city.name }}</LI>
                {% endfor %}
                </UL>
              </LI>
            {% endfor %}
                </UL>
            </DIV>

            <DIV class="amenities">
                <H3>Amenities</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                    {% for amenity in amenities.values()|sort(attribute="name") %}
                    <LI>{{ amenity.name }}</LI>
                    {% endfor %}
                </UL>
            </DIV>
        </SECTION>
    </DIV>

    <FOOTER>
        <P>Best School</P>
    </FOOTER>
</BODY>
</HTML>